li {
    list-style-type: none;
    color: darkolivegreen;
}
h1 {
    color: green;
    text-align: center;
}
img {
    alignment: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}
footer {
    display: flex;
    width: border-box;
    position: fixed;
    justify-content: center;
    padding: 5px;
    background-color: aqua;
    height: 115px;
}


